.grid {
    
    width: 100%; 
    max-height: 78vh+1px;
    overflow: auto;
}
table th,td {
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;

}
table {
    width: 200px;
    height: 400px;
    overflow:scroll;
}
table tbody tr:nth-child(even) {
    background-color: #E9EBEE;
}
